@import "tailwindcss";

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f5f9;
    /* Slate-100 */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    /* Blue Gradient */
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
    /* Makes the gradient inside padding */
    box-shadow: 0 0 10px rgba(0, 198, 255, 0.7);
    /* Glowing Effect */
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #0072ff, #00c6ff);
    /* Reverse Gradient on Hover */
    box-shadow: 0 0 15px rgba(0, 114, 255, 0.9);
    /* Stronger Glow */
}